/* stylelint-disable selector-max-specificity */
body {
  background: rgba(197, 110, 33, 0);
}

.done {
  text-decoration: line-through solid black;
}

.finish {
  bottom: 0;
  position: fixed;
}

#ingredients {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  padding: 10px;
  text-align: left;
  width: 50%;
}

/* stylelint-disable-next-line no-missing-end-of-source-newline */
